<div class="container">
  <div class="picture">
   <div class="header">
      <div class="menu">
        <a href="#">Home</a>
        <a href="#">Rooms & Suites</a>
        <a href="#">Services</a>
        <a href="#">About Us</a>
        <a href="#">Booking</a>
      </div>
      <div class="icon">
        <div class="circle">
          <img src="assets/images/instagram.svg" class="insta">
        </div>
        <div class="circle">
          <img src="assets/images/facebook.svg" class="facebook">
        </div>
        <div class="circle">
          <img src="assets/images/youtube.svg" class="youtube">
        </div>
        <div class="circle">
          <img src="assets/images/twitter.svg" class="twitter">
        </div>
      </div>
    </div>
      <div class="hotel">
        <h1>HOTEL</h1>
        <div class="underline"></div>
    </div>
</div>
